# On autorise le fait de renommer les pages
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
# On peut enlever le .php et renommer les pages comme on le souhaite
RewriteRule ^([^\.]+)$ $1.php [L]

RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php 
# Règle d'accès au profil, On réécrit notre URL et on met [0-9]+ car on sait que dans $1 on aura que des chiffres
RewriteRule ^voir-profil/([0-9]+)$ $voir_profil?id=$2  [L]

# Règle d'accès au forum
RewriteRule ^forum$ views/forum/
RewriteRule ^sujet/([0-9]+)$ $sujet?id=$1
RewriteRule ^topic/([0-9]+)/([0-9]+)$ $topic?id_forum=$1&id_topic=$2
RewriteRule ^forum/([0-9]+)/([0-9]+)$ _forum/topic?id_forum=$1&id_topic=$2 [L]


# Règle d'accès au blog
RewriteRule ^blog$ blog-views/blog

# Insérer le fuseau horaire
SetEnv TZ Europe/Paris 

# Fichiers pour réguler les zones IP
Order deny,allow
Deny from .aol.com
Deny from 192.168
Allow from 192.168.220.102


# EXAMPLE 
RewriteRule ^forum/([0-9]+)/([0-9]+)$ f_forum/topic?id_forum=$1&id_topic=$2
