/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// MAIN
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body{
    background: #0c2461 !important;
}
p ,h1, div, .button-custom{
    color: white !important;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// BARRE DE MENU
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.navbar-bg {
    background: linear-gradient(to left top, blue, rgb(13, 15, 74)) !important;
}

.nav-logo {
    border-radius: 50%;
    width: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #3b546b;
	background:linear-gradient(to bottom, #850099 5%, #11d6cc 100%);
	background-color:#850099;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #11d6cc 5%, #850099 100%);
	background-color:#11d6cc;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// PROFIL
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.profil__avatar img{
    width: 7rem !important;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// TOPIC
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// LISTE DES TOPICS
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// FORUM (LISTE DES CATÉGORIES)
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// BLOG
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

